
Online Mentored Session/
CaseStudies/09-RE-Amazon.Product.Recommendation/ratings_Electronics.csv
*.h5
*.ts
CourseContent/12-Computer.Vision/Week 1/Practice Exercise/monkeys_dataset.zip
CourseContent/12-Computer.Vision/Week 3/Practice Exercise/images.rar
CaseStudies/11-Convolution.Neural.Network-Face.Detection/Files_required_for_face_detection.zip
CaseStudies/11-Convolution.Neural.Network-Face.Detection/WIDER_train.zip
CaseStudies/11-Convolution.Neural.Network-Face.Detection/WIDER_val.zip
CaseStudies/12-Convolution.Neural.Network-Face.Recognition/Aligned Face Dataset from Pinterest.zip
CourseContent/12-Computer.Vision/Week 4/Practice Exercise/images-1.rar
.ipynb_checkpoints/
CaseStudies/14-NLP-Fake.News.Detection/glove.6B.zip
CaseStudies/Capstone Projects/Capstone Overview.pdf
CaseStudies/Capstone Projects/Final Report Format.pdf
CaseStudies/Capstone Projects/Interim Report Format.pdf
CaseStudies/Capstone Projects/2-CV-Pneumonia.Detection/rsna-pneumonia-detection-challenge.zip
CaseStudies/Capstone Projects/1-NLP-Automatic.Ticket.Assignment/d2v_inc_model.mdl
CaseStudies/Capstone Projects/1-NLP-Automatic.Ticket.Assignment/Final Report_Capstone Project_Automatic Ticket Assignment v1.0.docx
CaseStudies/Capstone Projects/1-NLP-Automatic.Ticket.Assignment/glove.6B/glove.6B.100d.txt
CaseStudies/Capstone Projects/1-NLP-Automatic.Ticket.Assignment/glove.6B/glove.6B.200d.txt
CaseStudies/Capstone Projects/1-NLP-Automatic.Ticket.Assignment/glove.6B/glove.6B.300d.txt
CaseStudies/Capstone Projects/1-NLP-Automatic.Ticket.Assignment/glove.6B/glove.6B.50d.txt
CaseStudies/Capstone Projects/1-NLP-Automatic.Ticket.Assignment/Interim Report_Capstone Project_Automatic Ticket Assignment v2.1.docx
