
Online Mentored Session/
CaseStudies/09-RE-Amazon.Product.Recommendation/ratings_Electronics.csv
*.h5
*.ts
CourseContent/12-Computer.Vision/Week 1/Practice Exercise/monkeys_dataset.zip
CourseContent/12-Computer.Vision/Week 3/Practice Exercise/images.rar
CaseStudies/11-Convolution.Neural.Network-Face.Detection/Files_required_for_face_detection.zip
CaseStudies/11-Convolution.Neural.Network-Face.Detection/WIDER_train.zip
CaseStudies/11-Convolution.Neural.Network-Face.Detection/WIDER_val.zip
CaseStudies/12-Convolution.Neural.Network-Face.Recognition/Aligned Face Dataset from Pinterest.zip
CourseContent/12-Computer.Vision/Week 4/Practice Exercise/images-1.rar
